<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.java.test.junior"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/java/test/junior/mapper/product/ProductMapper.xml"/>
        <mapper resource="com/java/test/junior/mapper/user/UserMapper.xml"/>
    </mappers>
</configuration>